<h1>Final Project Milestone 2</h1>

In [26]:
#libraries
import pandas as pd
import numpy as np

### 1. Format data into a more readable format - Dataframe is a great choice which works well with CSV files.

In [3]:
#load CSV file into DF
df=pd.read_csv("vaccinations.csv")

In [4]:
df.head(5)

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0

### 2. Find missing/null values

In [7]:
for c in df.columns:
    miss = df[c].isnull().sum()
    if miss>0:
        print("{} has {} missing value(s)".format(c,miss))
    else:
        print("{} has no missing values".format(c))

location has no missing values
iso_code has no missing values
date has no missing values
total_vaccinations has 18225 missing value(s)
people_vaccinated has 19207 missing value(s)
people_fully_vaccinated has 22281 missing value(s)
total_boosters has 42926 missing value(s)
daily_vaccinations_raw has 22228 missing value(s)
daily_vaccinations has 267 missing value(s)
total_vaccinations_per_hundred has 18225 missing value(s)
people_vaccinated_per_hundred has 19207 missing value(s)
people_fully_vaccinated_per_hundred has 22281 missing value(s)
total_boosters_per_hundred has 42926 missing value(s)
daily_vaccinations_per_million has 267 missing value(s)

### 3. Create a subset of data to work with that doesn't have a lot of missing values.  This produces a higher quality dattaset which can be joined with other data sources.

In [11]:
df_narrow = df[['location', 'iso_code', 'date', 'daily_vaccinations', 'daily_vaccinations_per_million']]

### 4. Fill missing values with fillna using the fill backward method for daily_vaccinations and daily_vaccinations_per_million given it is a small number and daily numbers likely don't have huge swings.  To save a step, we can include the other columns which have no null values since they won't be affected

In [19]:
df_narrow = df_narrow[['location', 'iso_code', 'date', 'daily_vaccinations', 'daily_vaccinations_per_million']].fillna(method='bfill')

In [20]:
#check if null values are fixed
for c in df_narrow.columns:
    miss = df_narrow[c].isnull().sum()
    if miss>0:
        print("{} has {} missing value(s)".format(c,miss))
    else:
        print("{} has no missing values".format(c))

location has no missing values
iso_code has no missing values
date has no missing values
daily_vaccinations has no missing values
daily_vaccinations_per_million has no missing values

### 5. Replace headers - to make the country and ISO codes easier to read, their names will be changed.

In [21]:
df_narrow = df_narrow.rename(columns={'location': 'country', 'iso_code': 'country_iso_code'})

In [23]:
df_narrow.columns

Index(['country', 'country_iso_code', 'date', 'daily_vaccinations',
       'daily_vaccinations_per_million'],
      dtype='object')

### 6. Check for unique values in country and iso_code columns

In [34]:
np.unique(df_narrow['country'])

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'England',
       'Equatorial Guinea', 'Estonia', 'Eswatini', 'Ethiopia', 'Europe',
       'European Union', 'Faeroe Islands', 'Falkland Islands', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'High income', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low income',
       'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Macedonia', 'Northern Cyprus',
       'Northern Ireland', 'Norway', 'Oceania', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Upper middle income', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Wales', 'Wallis and Futuna',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [35]:
df_narrow['country'].nunique()

234

In [36]:
np.unique(df_narrow['country_iso_code'])

array(['ABW', 'AFG', 'AGO', 'AIA', 'ALB', 'AND', 'ARE', 'ARG', 'ARM',
       'ATG', 'AUS', 'AUT', 'AZE', 'BEL', 'BEN', 'BES', 'BFA', 'BGD',
       'BGR', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ', 'BMU', 'BOL', 'BRA',
       'BRB', 'BRN', 'BTN', 'BWA', 'CAF', 'CAN', 'CHE', 'CHL', 'CHN',
       'CIV', 'CMR', 'COD', 'COG', 'COK', 'COL', 'COM', 'CPV', 'CRI',
       'CUB', 'CUW', 'CYM', 'CYP', 'CZE', 'DEU', 'DJI', 'DMA', 'DNK',
       'DOM', 'DZA', 'ECU', 'EGY', 'ESP', 'EST', 'ETH', 'FIN', 'FJI',
       'FLK', 'FRA', 'FRO', 'GAB', 'GBR', 'GEO', 'GGY', 'GHA', 'GIB',
       'GIN', 'GMB', 'GNB', 'GNQ', 'GRC', 'GRD', 'GRL', 'GTM', 'GUY',
       'HKG', 'HND', 'HRV', 'HTI', 'HUN', 'IDN', 'IMN', 'IND', 'IRL',
       'IRN', 'IRQ', 'ISL', 'ISR', 'ITA', 'JAM', 'JEY', 'JOR', 'JPN',
       'KAZ', 'KEN', 'KGZ', 'KHM', 'KIR', 'KNA', 'KOR', 'KWT', 'LAO',
       'LBN', 'LBR', 'LBY', 'LCA', 'LIE', 'LKA', 'LSO', 'LTU', 'LUX',
       'LVA', 'MAC', 'MAR', 'MCO', 'MDA', 'MDG', 'MDV', 'MEX', 'MKD',
       'MLI', 'MLT', 'MMR', 'MNE', 'MNG', 'MOZ', 'MRT', 'MSR', 'MUS',
       'MWI', 'MYS', 'NAM', 'NCL', 'NER', 'NGA', 'NIC', 'NIU', 'NLD',
       'NOR', 'NPL', 'NRU', 'NZL', 'OMN', 'OWID_AFR', 'OWID_ASI',
       'OWID_CYN', 'OWID_ENG', 'OWID_EUN', 'OWID_EUR', 'OWID_HIC',
       'OWID_KOS', 'OWID_LIC', 'OWID_LMC', 'OWID_NAM', 'OWID_NIR',
       'OWID_OCE', 'OWID_SAM', 'OWID_SCT', 'OWID_UMC', 'OWID_WLS',
       'OWID_WRL', 'PAK', 'PAN', 'PCN', 'PER', 'PHL', 'PNG', 'POL', 'PRT',
       'PRY', 'PSE', 'PYF', 'QAT', 'ROU', 'RUS', 'RWA', 'SAU', 'SDN',
       'SEN', 'SGP', 'SHN', 'SLB', 'SLE', 'SLV', 'SMR', 'SOM', 'SRB',
       'SSD', 'STP', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ', 'SXM', 'SYC',
       'SYR', 'TCA', 'TCD', 'TGO', 'THA', 'TJK', 'TKL', 'TKM', 'TLS',
       'TON', 'TTO', 'TUN', 'TUR', 'TUV', 'TWN', 'TZA', 'UGA', 'UKR',
       'URY', 'USA', 'UZB', 'VCT', 'VEN', 'VGB', 'VNM', 'VUT', 'WLF',
       'WSM', 'YEM', 'ZAF', 'ZMB', 'ZWE'], dtype=object)

In [37]:
df_narrow['country_iso_code'].nunique()

234

The total counts match, however it will be noted for future joining that there are some countries which appear to be combined, such as "Bosnia and Herzegovina".

### 7. Fix casing values - To ensure casing remains consistent across data sources, the names of the countries will be changed to uppercase.

In [38]:
df_narrow['country'] = df_narrow['country'].str.upper()

In [48]:
#check if fix was applied
df_narrow.head(5)

,country,country_iso_code,date,daily_vaccinations,daily_vaccinations_per_million
0,AFGHANISTAN,AFG,2021-02-22,1367.0,34.0
1,AFGHANISTAN,AFG,2021-02-23,1367.0,34.0
2,AFGHANISTAN,AFG,2021-02-24,1367.0,34.0
3,AFGHANISTAN,AFG,2021-02-25,1367.0,34.0
4,AFGHANISTAN,AFG,2021-02-26,1367.0,34.0

### 8. Grouping - To collect some statistics and totals based on country, a subset of data grouped by country will be examined

In [42]:
df_country = df_narrow[['country','daily_vaccinations','daily_vaccinations_per_million']].groupby('country')

In [43]:
df_country.head(5)

           country  daily_vaccinations  daily_vaccinations_per_million
0      AFGHANISTAN              1367.0                            34.0
1      AFGHANISTAN              1367.0                            34.0
2      AFGHANISTAN              1367.0                            34.0
3      AFGHANISTAN              1367.0                            34.0
4      AFGHANISTAN              1367.0                            34.0
...            ...                 ...                             ...
43247     ZIMBABWE               425.0                            28.0
43248     ZIMBABWE               425.0                            28.0
43249     ZIMBABWE               425.0                            28.0
43250     ZIMBABWE               425.0                            28.0
43251     ZIMBABWE               660.0                            44.0

[1162 rows x 3 columns]

In [44]:
df_country.sum()

                   daily_vaccinations  daily_vaccinations_per_million
country
AFGHANISTAN              1.723727e+06                         43262.0
AFRICA                   9.500188e+07                         69158.0
ALBANIA                  1.397794e+06                        486530.0
ALGERIA                  4.084398e+06                         91481.0
ANDORRA                  9.020100e+04                       1166077.0
...                               ...                             ...
WALLIS AND FUTUNA        9.412000e+03                        848389.0
WORLD                    5.093317e+09                        646769.0
YEMEN                    3.072190e+05                         10076.0
ZAMBIA                   5.607370e+05                         29635.0
ZIMBABWE                 3.964704e+06                        262694.0

[234 rows x 2 columns]

In [45]:
df_country.describe()

                  daily_vaccinations                                      \
                               count          mean           std     min
country
AFGHANISTAN                    171.0  1.008027e+04  9.175217e+03  1367.0
AFRICA                         232.0  4.094909e+05  3.491640e+05   500.0
ALBANIA                        230.0  6.077365e+03  4.561305e+03     0.0
ALGERIA                        204.0  2.002156e+04  6.150886e+03    30.0
ANDORRA                        203.0  4.443399e+02  4.286459e+02    28.0
...                              ...           ...           ...     ...
WALLIS AND FUTUNA              154.0  6.111688e+01  8.505815e+01     4.0
WORLD                          270.0  1.886414e+07  1.457323e+07     0.0
YEMEN                           80.0  3.840238e+03  2.569181e+03   939.0
ZAMBIA                         137.0  4.092971e+03  3.908839e+03    51.0
ZIMBABWE                       192.0  2.064950e+04  2.033262e+04   306.0

                                                                    \
                          25%         50%          75%         max
country
AFGHANISTAN           3000.00      7292.0     13921.00     40624.0
AFRICA              177833.75    298302.5    567460.75   1819518.0
ALBANIA               1026.25      6734.0      8943.75     17565.0
ALGERIA              22369.00     22369.0     22369.00     22369.0
ANDORRA                121.00       298.0       619.00      1762.0
...                       ...         ...          ...         ...
WALLIS AND FUTUNA       13.00        16.0        70.00       343.0
WORLD              4765739.00  16841445.5  34012094.25  43415788.0
YEMEN                 1910.00      3268.5      4276.00     10240.0
ZAMBIA                 565.00      3555.0      5347.00     13814.0
ZIMBABWE              5393.00     13573.5     23978.25     75000.0

                  daily_vaccinations_per_million                            \
                                           count         mean          std
country
AFGHANISTAN                                171.0   252.994152   230.368183
AFRICA                                     232.0   298.094828   254.232347
ALBANIA                                    230.0  2115.347826  1587.707815
ALGERIA                                    204.0   448.436275   137.746397
ANDORRA                                    203.0  5744.221675  5541.324021
...                                          ...          ...          ...
WALLIS AND FUTUNA                          154.0  5509.019481  7667.068729
WORLD                                      270.0  2395.440741  1850.590370
YEMEN                                       80.0   125.950000    84.198064
ZAMBIA                                     137.0   216.313869   206.555140
ZIMBABWE                                   192.0  1368.197917  1347.255252


                     min      25%     50%      75%      max
country
AFGHANISTAN         34.0    75.00   183.0   349.00   1020.0
AFRICA               0.0   129.50   217.0   413.25   1325.0
ALBANIA              0.0   357.00  2344.0  3113.00   6114.0
ALGERIA              1.0   501.00   501.0   501.00    501.0
ANDORRA            362.0  1564.00  3852.0  8002.00  22778.0
...                  ...      ...     ...      ...      ...
WALLIS AND FUTUNA  361.0  1172.00  1442.0  6309.75  30918.0
WORLD                0.0   605.25  2138.5  4319.25   5513.0
YEMEN               31.0    63.00   107.0   140.00    336.0
ZAMBIA               3.0    30.00   188.0   283.00    730.0
ZIMBABWE            20.0   357.25   899.0  1588.50   4969.0

[234 rows x 16 columns]

### 9. Check if start dates are consistent between countries

In [49]:
df_narrow[['country','date']].groupby('country').min()

                         date
country
AFGHANISTAN        2021-02-22
AFRICA             2021-01-09
ALBANIA            2021-01-10
ALGERIA            2021-01-29
ANDORRA            2021-01-25
...                       ...
WALLIS AND FUTUNA  2021-03-23
WORLD              2020-12-02
YEMEN              2021-05-09
ZAMBIA             2021-04-14
ZIMBABWE           2021-02-18

[234 rows x 1 columns]

It should be noted for later joins that the start dates for reporting are not consistent between the countries